.landingpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("./images/backgroundimage.png");
    background-size: cover;
    background-position: center;
    color: rgb(202, 211, 219);
}

.weatherpagelink {
    padding: 10px 20px;
    font-size: 25px;
    color: rgb(18, 32, 75);
    background-color: rgb(202, 211, 219);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 1.0s ease, color 1.0s ease;
}

.weatherpagelink:hover {
    background-color: rgb(18, 32, 75);
    color: rgb(202, 211, 219);
}

.info {
    margin-top: 50px;
}

.info h1 {
    font-size: 40px;
}

.description {
    font-size: 25px;
    width: 40%;
    margin-bottom: 30px;
    font-style: italic;
    /*background: linear-gradient(to bottom left, rgb(202, 211, 219), rgba(255, 255, 255, 0.562), rgb(202, 211, 219));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;*/
    color: rgba(200, 200, 255, 0.788);
}

body .weatherpage {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(44,62,80), rgb(74,74,74));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    overflow-x: hidden;
}

.card {
    background: rgb(51,51,51);
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    width: 320px;
    height: 250px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.search {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.search input {
    background-color: rgb(85, 85, 85);
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid rgb(68,68,68);
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}

.search button {
    width: 40px;
    background: rgb(85, 85, 85);
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.error {
    color: red;
    display: none;
    margin-bottom: 15px;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.temp {
    font-size: 48px;
    margin: 0;
    color: aliceblue;
}

.city {
    font-size: 24px;
    margin: 0;
    color: rgb(187,187,187);
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.col {
    display: flex;
    align-items: center;
}

.col img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 16px;
    color: aliceblue;
}

.details p {
    margin: 5px 0;
    color: rgb(187,187,187);
    font-size: 14px;
}

.meet-us {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    width: 100%;
    height: auto;
}

.meet-us h2 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 140px;
    color: rgb(202, 211, 219);
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*.teaminfo {
    background: rgb(85, 85, 85);
    border-radius: 10px;
    padding: 15px 15px 2px;
    width: 30%;
    margin: 0 10px 5px;
    color: aliceblue;
}*/

.teaminfo img {
    width: 60px; 
    height: 60px; 
    border-radius: 20%; 
    object-fit: cover;
    margin-bottom: 0px;
}

.teaminfo h3 {
    margin: 10px 0 0px;
    font-size: 15px;
}

.teaminfo p {
    font-size: 16px;
}
